@model MvcApplication.Models.chartData

@{
    ViewBag.Title = Model.chartTitle;
}
<script>
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '@Model.chartTitle'
            },
            xAxis: {
                labels: { rotation: -45 },
                categories: [@Html.Raw(string.Join(",",@Model.dates.ToArray()))]
            },
            yAxis: @Html.Raw(Json.Encode(Model.yAxis)),
            series: @Html.Raw(Json.Encode(Model.series))
        });

    });

</script>
<br />
<div id="dateSelect">
    <div style="display:inline-block">
        @Html.Partial("DateSelect", Model)
    </div>
</div>
<div id="container"></div>